<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>About Page</title>
</head>

<body>
    <header>
        <h1>About NRIIT Learning Management</h1>
        <p>Learn Practice Get Placed</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/courses">Courses</a>
            <a href="/trainers">Trainers</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>About NRIIT</h2>
            <p>
                NRIIT is committed to providing quality education in Python FullStack.
            </p>
        </section>
        <section>
            <h2>Vision</h2>
            <p>
                Empowering Students with Practical Software Skills
            </p>
        </section>
    </main>
    <footer>

        <hr>

        <p>&copy; 2026 NRIIT Learning Management System</p>

        <p>Email: info@nriit.edu</p>

        <p>Phone: +91 9876543210</p>

        <p>Follow Us:</p>

        <a href="#">Facebook</a> |

        <a href="#">Instagram</a> |

        <a href="#">LinkedIn</a>

    </footer>
  <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>